USE [master]
GO
/****** Object:  Database [PMFeeder]    Script Date: 19-Sep-22 4:06:50 PM ******/
CREATE DATABASE [PMFeeder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PMFeeder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PMFeeder.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PMFeeder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PMFeeder_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMFeeder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMFeeder]
GO
/****** Object:  User [smarcsoft]    Script Date: 19-Sep-22 4:06:50 PM ******/
CREATE USER [smarcsoft] FOR LOGIN [smarcsoft] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [smarcsoft]
GO
ALTER ROLE [db_datareader] ADD MEMBER [smarcsoft]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [smarcsoft]
GO
/****** Object:  Table [dbo].[ExchangeLoad]    Script Date: 19-Sep-22 4:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeLoad](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[code] [nchar](15) NOT NULL,
	[part] [smallint] NOT NULL,
	[load_time] [datetime] NOT NULL,
 CONSTRAINT [PK_ExchangeLoad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TickerLoad]    Script Date: 19-Sep-22 4:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TickerLoad](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[exchange_load_id] [numeric](18, 0) NULL,
	[ticker_code] [nchar](20) NOT NULL,
	[data_point_name] [nchar](15) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[load_time] [datetime] NOT NULL,
 CONSTRAINT [PK_TickerLoad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TickerLoad]  WITH CHECK ADD  CONSTRAINT [FK_TickerLoad_ExchangeLoad] FOREIGN KEY([exchange_load_id])
REFERENCES [dbo].[ExchangeLoad] ([id])
GO
ALTER TABLE [dbo].[TickerLoad] CHECK CONSTRAINT [FK_TickerLoad_ExchangeLoad]
GO
USE [master]
GO
